/* red and gold colors */
.r {
  color: #8d0034;
}
.g {
  color: #febc18;
}

/* LUC shield */
.shield {
  font-size: 7px;
  line-height: 125%;
}
.header-element {
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.text-logo {
  padding-left: 10px;
}
.page-body {
  /* text body */
  clear: both; /* prevent from being in-line with shield & logo */
}
.nav-link,
.nav-link:visited {
  color: green;
}
.join-us {
  font-weight: bold;
  color: lightgreen;
}
.inbodyHeader {
  background-color: white;
  color: black;
}

body {
  background-color: black;
  color: white;
  font-size: 16px;
}
